/*css para newIndex.html*/
*{
	font-family: "Bauhaus 93";
	font-size: 24px;
}

body{
	background-color: #00B4CC;
}

h1, .header{
	font-size: 46px;
	background-color: #343838;
	float: center;
	text-align: center;
	border-radius: 25px;
	color: white;
	max-width: 960px;
}

.content{
	font-size: 14px;
	background-color: #005F6B;
	border-radius: 25px;
	padding: 5px;
	max-width: 960px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.navigation{
	font-size: 12px;
	float: left;
	margin-top: 0px;
	margin-left: 1%;
	padding:10px;
	border-radius: 25px;
	background-color: white;
	width: 20%;
	margin-bottom: 1%;
	text-align: center;
}

#secc2{
	display: inline-block;
	background-color: white;
	margin:1%;

	padding: 10px;
	border-radius: 25px;
	width: 48%;
	text-align: center;
}

.sidebar{
	font-size: 10px;
	float: right;
	margin-top: 0px;
	margin-right: 1%;
	padding:10px;
	border-radius: 25px;
	background-color: white;
	width: 20%;
	text-align: center;
}

article{
	background-color: #005F7D;
	border-radius: 25px;
	padding-top: 10px; 
	padding-bottom: 25%;
	color: white;
}

#Cabecera_Seccion{
	background-color: #005F7D;
	color: white;
	border-radius: 25px;
	margin-bottom: 1px; 
}

.footer{
	font-size: 10px;
	background-color: #005F7D;
	color: white;
	border-radius: 25px;
	margin-top: 1px; 
}

*.r{
	background-color: #FF00FF;
}
